  <!DOCTYPE html>
<html>
<head>
    <title>商品规格表</title>
		<#include "/header.html">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.productId" @keyup.enter="query" placeholder="商品编号"/>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:productsku:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:productsku:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:productsku:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productSku.productId" placeholder="商品编号"/>
                        </div>
                    </div>
											                    <!-- <div class="form-group">
                        <div class="col-sm-2 control-label">规格</div>
                        <div class="col-sm-10">
	                        <label v-for="sku in skuList" class="checkbox-inline">
						      <input type="checkbox" :value="sku.id" v-model="productSku.skuIdList" @click="handleClick(sku.id)">{{sku.name}}
					        </label><br/>
                        <input type="text" class="form-control"  v-model="productSku.sku" placeholder="规格" readonly="readonly"/>
                           <label v-for="sk in skList" class="checkbox-inline" v-show="isshow">
						      <input type="checkbox" :value="sk.id" v-model="productSku.skuIdList">{{sk.name}}
					       </label>
                        </div>
                    </div> -->
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">库存</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productSku.stock" placeholder="库存"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">金币</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productSku.gold" placeholder="金币"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">价格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productSku.price" placeholder="价格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">原价</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="productSku.originalPrice" placeholder="原价"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src=" /statics/js/modules/sys/productsku.js?_${.now?long}"></script>
</body>
</html>